DATABASE_URL=jdbc:postgresql://localhost:5432/prodDB
DATABASE_TEST_URL=jdbc:postgresql://localhost:5432/testDB
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
JWT_PRIVATE_KEY=privateKey
JWT_PUBLIC_KEY=publicKey
